RestService/obj/*
RestService/bin/*
RestService/.vscode/*
MathParser/obj/*
MathParser/bin/*
MathParser/.vscode/*
.vscode/launch.json
.vscode/tasks.json
.vs/
release/
MathParserService.DAL/bin/
MathParserService.DAL/obj/
MathParserService.DL/bin/
MathParserService.DL/obj/
MathParserService.DL.Implementions/obj/
MathParserService.DL.Implementions/bin/
RestServiceNet5/bin/
RestServiceNet5/obj/
RestService/RestService.xml
